@import "tailwindcss";

@theme {
  --font-sans: 'Poppins', sans-serif;
  --color-primary: #059669;
}

body {
  font-family: var(--font-sans);
  background-color: #f8fafc;
  overflow-x: hidden;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: var(--color-primary);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #047857;
}

.gradient-text {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(to right, #059669, #10b981);
}